button.form-control {
	width: 200px;
	margin: 20px auto;
	text-align: center;
	color: yellow;
	background-color: darkgreen;
	width: 48%;
}

hr {
	  border-top: 1px solid #000;
}

#miles-months p {
	width: 48%;
	margin: 0 1%;
	display: inline-block;
}
#total p {
	text-align: center;
}

#miles-months p.total {
	margin: 20px 0 40px;
	width: 100%;
	display: block;
}

#year {
}

h1 {
	text-align: center;
}

input.form-control, select.form-control {
	width: 23%;
	margin: 10px 1%;
	float: left;
}

@media (max-width: 768px) {
	.container {
		padding: 0;
	}
	.jumbotron {
		padding: 20px;
	}
	#miles-months p {
		width: 98%;
		text-align: center;
	}
}