button.form-control {
	clear: both;
	margin: 0 auto 20px;
	text-align: center;
	color: yellow;
	font-size: 16px;
    background-color: darkgreen;
    width: 33%;
    height: auto;
}

button.form-control i {
	font-size: 16px;
}

button.form-control:hover i {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.form-control.error:focus {
	border-color: red;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,0,0,.075),0 0 8px rgba(255,90,175,.6);
    box-shadow: inset 0 1px 1px rgba(255,0,0,.075),0 0 8px rgba(255,90,175,.6);
}

h1 i {
	transform:         scale(.3); /* CSS3 */
	-o-transform:      scale(.3); /* Opera */
	-ms-transform:     scale(.3); /* IE 9 */
	-moz-transform:    scale(.3); /* Firefox */
	-webkit-transform: scale(.3); /* Webkit */
}

hr {
	border-top: 1px solid #000;
	clear: both;
}

#miles-months p {
    display: inline-block;
}

#total p {
	text-align: center;
	font-size: 20px;
}
#miles-months p.total {
	margin: 20px 0 30px;
	font-size: 20px;
	display: block;
}

h1 {
	text-align: center;
}

.jumbotron {
    position: relative;
}

.jumbotron p {
	font-size: 16px;	
}

input.form-control, select.form-control {
	width: 23%;
	margin: 10px 1%;
	float: left;
	height: 35px;
    font-size: 14px;
    margin-bottom: 30px;
}

.get-current-term select.form-control {
	width: 45%;
	float: left;
	margin: 10px 5% 20px 0;
	display: block;
}

.get-current-term button {
	width: 45%;
	float: left;
	margin: 10px 5% 20px 0;
	clear: none;
}

select.form-control {
	cursor: pointer;
}

@keyframes carScale {
	0%   { 
		transform:         scale(.3);
		-o-transform:      scale(.3);
		-ms-transform:     scale(.3);
	}
	40%   { 
		transform:         scale(1.3);
		-o-transform:      scale(1.3);
		-ms-transform:     scale(1.3);
	}
	50%   { 
		transform:         scale(1);
		-o-transform:      scale(1);
		-ms-transform:     scale(1);
	}
	100%   { 
		transform:         scale(1);
		-o-transform:      scale(1);
		-ms-transform:     scale(1);
	}
}
@-moz-keyframes carScale {
	0%   {
		-moz-transform:    scale(.3);
	}
	40% {
		-moz-transform:    scale(1.3);
	}
	50% {
		-moz-transform:    scale(1);
	}
	100% {
		-moz-transform:    scale(1);
	}
}
@-webkit-keyframes carScale {
	0%   {
		-webkit-transform: scale(.3);
	}
	40% {
		-webkit-transform: scale(1.3);
	}
	50% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

.car-scale {
	animation:         carScale 7.5s ease 1s infinite;
	-moz-animation:    carScale 7.5s ease 1s infinite; 
	-webkit-animation: carScale 7.5s ease 1s infinite;
}

@media (max-width: 768px) {
	.container {
		padding: 0;
	}
	.jumbotron {
		padding: 20px;
	}
	#miles-months p {
		width: 98%;
		text-align: center;
	}
	input.form-control, select.form-control {
		width: 100%;
		margin: 10px 0;
	}
}